<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>蛋糕管理系统</title>
  <script type="text/javascript">
    window._AMapSecurityConfig = {
        serviceHost:'b69317f282aa3d969a1621c069c7db2a',  
        // 例如 ：serviceHost:'http://1.1.1.1:80/_AMapService',
    }
</script>
<script type="text/javascript" src="https://webapi.amap.com/maps?v=2.0&key=094d2717dafd22a8b1fcb337f5d7588e"></script> 
</head>
<body>
  <div id="root"></div>
</body>
</html>